body {
    margin: 0;
    padding: 0;
    font: normal 14px/50px Roboto, Arial, sans-serif;
}
#header {
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    background: #3f4c6b;
    background: -moz-linear-gradient(top, #3f4c6b 0%, #3f4c6b 100%);
    background: -webkit-linear-gradient(top, #3f4c6b 0%,#3f4c6b 100%);
    background: linear-gradient(to bottom, #3f4c6b 0%,#3f4c6b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 );
}
#content {
    width: 400px;
    min-height: 100px;
    margin: 0 auto;
    margin-top: 150px;
    background: #3f4c6b;
    background: -moz-linear-gradient(top, #3f4c6b 0%, #3f4c6b 100%);
    background: -webkit-linear-gradient(top, #3f4c6b 0%,#3f4c6b 100%);
    background: linear-gradient(to bottom, #3f4c6b 0%,#3f4c6b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 );
    padding: 25px;
}

#main-menu {
    padding: 0;
    margin: 0;
    height: 50px;
}
#main-menu li {
    display: inline-block;
    margin-right: 10px;
    padding: 0 5px;
    height: 45px;
}
#main-menu li:hover {
    cursor: pointer;
    color: deepskyblue;
}
#main-menu li.current {
    cursor: pointer;
    color: #777;
}

#content h1 {
    margin: 1px 0 0 0;
    font: 28px Georgia, Times, serif;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.inp, button, input {
    font: normal 14px Roboto, Arial, sans-serif;
    color: #333;
}
.inp {
    width: 100%;
    height: 25px;
    display: block;
    margin-bottom: 10px;
}
.inp:nth-child(1) {
    margin-top: 15px;
}
button, input[type="submit"], .form-submit {
    display: inline-block;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

.align-center {
    text-align: center;
}

#message {
    position: absolute;
    left: 50%;
    top: -100px;
    z-index: 100;
    color: #333;
    background: #fff;
    border-radius: 0 0 20px 20px;
    padding: 10px 20px;
    margin-left: -150px;
    width: 300px;
    min-height: 20px;
    text-align: center;
    box-shadow: 3px 3px 1px 1px gray;
    transition: 0.5s ease-in;
    line-height: normal;
}
#message.success {
    background: greenyellow;
}
#message.fail {
    background: red;
}
#message.open {
    top: 0;
}
#message.close {
    top: -50px;
}

#p404 {
    width: 200px;
    margin: 0 auto;
}
#p404 h1 {
    font: 120px Arial, sans-serif;
    color: #999;
    margin: 0;
}
#p404 p {
    font: 16px Arial, sans-serif;
    color: #111;
    margin: 0;
    text-transform: uppercase;
}