doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Добавление клиента
        link(href="/css/font_roboto.css" rel="stylesheet" type="text/css")
        link(href="/css/index.css" rel="stylesheet" type="text/css")
        script(src="/js/jquery-3.1.0.min.js")
        script(src="/js/XOREncrypt.js")
        script.
            $(document).ready(function() {

                $("#form-submit").on("click", sendForm);

                showMsg();

                function sendForm() {
                    var key = $("#key");
                    if (key.val() === "") {
                        key.focus();
                        alert("Пожалуйста, придумайте кодовое слово");
                        return false;
                    }
                    var phone = $("#phone-number");
                    if (phone.val() === "" || phone.val().match(/^\s+$/)) {
                        phone.focus();
                        alert("Пожалуйста, введите номер телефона");
                        return false;
                    }
                    var email = $("#email");
                    if (!email.val().match(/^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$/)) {
                        email.focus();
                        alert("Пожалуйста, введите существующий email");
                        return false;
                    }
                    var phoneEncrypted = XOREncrypt(phone.val(), key.val());
                    var emailEncrypted = XOREncrypt(email.val(), key.val());

                    var phoneEncoded = encodeURIComponent(phoneEncrypted);
                    var emailEncoded = encodeURIComponent(emailEncrypted);

                    window.location.href="/phone/" + phoneEncoded + "/email/" + emailEncoded;
                }
                function showMsg() {
                    var msg = $("#message");
                    if (msg.html() !== "") {
                        msg.addClass("open");
                        setTimeout(() => {
                            msg.removeClass("open");
                        }, 5000);
                    }
                }
            });
    body
        div#message(class=""+form.msgType)= form.message
        div#header
            ul#main-menu
                li#menu-addclient(onclick="window.location.href='/'") Добавить клиента
                li#menu-recover(onclick="window.location.href='/recover'") Восстановить номер телефона
        div#content
            h1 Новый клиент
            div
                input#phone-number.inp(placeholder="Введите ЛЮБОЙ номер телефона")
                input#email.inp(placeholder="Введите существующий e-mail")
                input#key.inp.key(value="Кодовое слово")
                div.align-center
                    input#form-submit.form-submit(type="button" value="Добавить")
