doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title 404
        link(href="/css/index.css" rel="stylesheet" type="text/css")
    body
        div#p404
            h1 404
            p Страница не найдена